#pages ul {
    font-size: medium;
    font-weight: bold;
    color: #003300;
}
#pages a {
    font-size: medium;
    font-weight: bold;
    color: #003300;
}
.title {
    font-size: medium;
    font-weight: bold;
    color: #003366;
}

#posts ul {
    font-size: medium;
    font-weight: bold;
    color: #003366;
}
#posts a {
    font-size: medium;
    font-weight: bold;
    color: #003300;
    padding-bottom: 2px;
}

#posts li {
    position: relative;
    padding-top: 11px;
}